{
  "arrowParens": "avoid",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "experimentalTernaries": false,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.tsx", "*.ts"],
      "options": {
        "arrowParens": "always",
        "semi": false,
        "tabWidth": 4,
        "useTabs": true
      }
    }
  ]
}
