{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:security/recommended",
    "prettier"
  ],
  "plugins": [
    "import",
    "react",
    "react-hooks",
    "security",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": false
  },
  "settings": {
    "react": {
      "version": "17.0.2"
    }
  },
  "rules": {
    "security/detect-object-injection": "off",
    "no-use-before-define": ["off"],
    "no-console": "error",
    "import/newline-after-import": ["error", { "count": 1 }]
  }
}
