{
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "security/detect-object-injection": "off",
    "no-use-before-define": ["off"],
    "no-console": "off",
    "import/newline-after-import": ["error", { "count": 1 }]
  }
}
